@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Square&family=Pixelify+Sans:wght@400..700&family=Share+Tech&display=swap');

@font-face {
    font-family: 'Pixel Operator';
    src: url(/assets/pixel_operator/PixelOperator-Bold.ttf) format('truetype');
}

html {
    scrollbar-color: white rgb(15, 15, 15);
}




body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: "Pixel Operator", pixelify sans, Arial, Helvetica, sans-serif;
    color: white;
    zoom: 70%;
}

img {
    filter: none !important;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

button {
    width: 270px;
    height: 50px;
    font-size: 25px;
    font-family: "Pixel Operator", pixelify sans, Arial, Helvetica, sans-serif;
    background-color: lightgray;
    border: gray outset 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(172, 172, 172);
    border: rgb(91, 91, 91) outset 10px;
}

button:active {
    background-color: rgb(105, 105, 105);
    border: rgb(57, 57, 57) inset 10px;
}

.desc {
    font-size: 20px !important;
    margin: 0px;
    background-color: black;
}


/*INICIANDO HEADER */
.header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: black;
    border-bottom: 1px white solid;

}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.header .container a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
}

.logo,
.navbar,
.hello {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.navbar {
    margin-left: 35px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.navbar a:hover {
    color: rgb(255, 255, 101) !important;
}



.header .container li {
    font-size: 30px;
}

.header .container img {
    height: 50px;
}

.hello {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 350px;
}


.hello img {
    height: 40px;
    border-radius: 50%;
}

.hello span {
    color: white;
    font-size: 25px;
}

.hello span:hover {
    color: rgb(255, 255, 101);
}































.formulario {
    margin-bottom: 30px;
}

.login_cadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
    margin-right: 50px;
    color: white;
}

#loading-gif {
    width: 200px;
    height: 200px;
}

.loading-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.login_cadastro a:hover {
    color: rgb(255, 255, 101) !important;
}




/* TERMINANDO HEADER */


/* INICIANDO FOOTER */
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(93, 3, 212);
    border-top: white solid 8px;
    font-size: 20px;
}

.footer h3 {
    margin: 5px;
}

.footer h2 {
    margin-bottom: 10px;
}

.footer img {
    width: 400px;
}


.footer .footerPages {
    margin-right: 500px;
    font-size: 30px;
    text-align: left;
}

.footer .footerPages li :hover {
    text-decoration: underline;
}

.infoCredits a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    font-size: 20px;
}

.infoCredits a:hover {
    text-decoration: underline;

}


/* TERMINANDO RODAPÉ */

















/* ----------INICIANDO INDEX.HTML--------- */
/* INICIANDO PRINCIPAL */
.principal {

    height: 500px;
    width: 100%;
    color: white;
    background-image: url('/assets/img/Backgrounds/principalBG.png');
    background-position: center;
    background-size: 1400px 1000px;
}

.logoFrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.logoFrase img {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoFrase h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;

}

.grad1 {
    margin-top: 300px;
    background: linear-gradient(360deg, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    width: 100%;
    height: 100px;
}

.mensagemBV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: solid white 1px;
    font-size: 25px;
    margin-bottom: 100px;
}

.mensagemBV .toby_temmie {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.toby_temmie img {
    width: 75px;

}

/* TERMINANDO PRINCIPAL */

/* INICIANDO ATUALIZAÇÕES */

.grad2 {
    background: linear-gradient(180deg, black, rgba(255, 255, 255, 0));
    width: 100%;
    height: 100px;
}

.atualizacoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/Backgrounds/TileBG1.png');
}

.atualizacoes img {
    width: 350px;
}


.atualizacoes .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: white solid 10px;
    margin: 0px 100px 100px 100px;
    width: 80%;
}

.atualizacoes h1 {
    font-size: 60px;
    color: yellow;
    margin: 33px;
}

.atualizacoes .container .updates {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}




.atualizacoes .container .updates .noticia {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: white solid 2px;
    margin: 40px;
    margin-bottom: 85px;
    padding-top: 20px;
}




.grad3 {
    margin-top: 50px;
    background: linear-gradient(360deg, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    width: 100%;
    height: 100px;
}

/* TERMINANDO ATUALIZACAO */

/* INICIANDO RESUMO */

.resumo {
    display: flex;
    margin-top: 80px;
    width: 100%;
    height: 700px;
    background-image: url('/assets/img/Backgrounds/resumoBG.png');
    background-position: center;
    background-size: 100% 1200px;
}

.resumo .container {
    width: 80%;
    height: 430px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.resumo .container .res {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    margin: 0px 25px 0px 25px;
    border: white solid 10px;
}

.resumo .container .res .res-forum {
    display: flex;
    flex-direction: row;
}


/* TERMINANDO RESUMO */

/* INICIANDO DELTARUNEPROMO */
.deltarunePromo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 300px;
}

.deltarunePromo h1 {
    margin: 500px 0px 500px 0px;
    font-size: 25px;
}

.deltarunePromo img {
    width: 700px;
}

.deltaruneIMGeTXT {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    height: 700px;
    font-size: 25px;
    background-image: url('/assets/img/Backgrounds/deltaruneBG.png');
    background-position: center;
    background-size: 100% 100%;
}

.deltaruneIMGeTXT button {
    width: 350px;
    height: 80px;
}

/* TERMINANDO DELTARUNEPROMO */
/* --------TERMINANDO INDEX.HTML ---------- */




















/* --------INICIANDO SOBRE.HTML ----------- */
/* INICIANDO SOBRE O SITE */
.sobreSite {
    width: 100%;
    height: 700px;
    background-image: url('/assets/img/Backgrounds/sobreSiteBG.png');
    background-position: center;
    background-size: 100% 200vh;
    margin-bottom: 200px;
}

.sobreSite p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    text-decoration: underline 2px;
    margin: 0px;
}

.sobreSite .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sobreSite .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: black;
    margin: 140px 80px 0px 80px;
    border: white solid 3px;
}

.sobreSite .container .content img {
    width: 200px;
}

.sobreSite .container .content .SPTechLogo {
    width: 250px;
    margin: 50px 0px 40px 0px;
}


.sobreSite .container .content p {
    width: 90%;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}

/* TERMINANDO SOBRE O SITE */

/* INICIANDO SOBRE O JOGO */
.sobreJogo {
    width: 100%;
    height: 820px;
    background-image: url('/assets/img/Backgrounds/sobreJogoBG.png');
    background-position: center;
    background-size: 105%;
    margin-bottom: 200px;

}

.sobreJogo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    text-decoration: underline 2px;
    margin: 0px;
}

.sobreJogo .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sobreJogo .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: black;
    margin: 170px 50px 0px 50px;
    border: white solid 3px;
}

.sobreJogo .container .content img {
    width: 200px;
}


.sobreJogo .container .content p {
    width: 90%;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}


/* TERMINANDO SOBRE O JOGO */

/* INICIANDO SOBRE MIM */
.sobreMim {
    width: 100%;
    height: 1300px;
    background-image: url('/assets/img/Backgrounds/sobreMimBG.png');
    background-position: 50% 520px;
    background-size: 83%;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    background-repeat: no-repeat;
    background-color: rgb(6, 6, 18);
}

.sobreMim .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    text-decoration: underline 2px;
    margin: 0px;
}

.sobreMim .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sobreMim .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 550px;
    background-color: black;
    margin: 50px 50px 0px 50px;
    border: white solid 3px;
}

.sobreMim .container .content img {
    width: 200px;
}


.sobreMim .container .content p {
    width: 90%;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}

.sobreMim .container .me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    margin: 0px 50px 0px 50px;

}

/* TERMINANDO SOBRE MIM */

/* INICIANDO O FIM */
.fim {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url('/assets/img/Backgrounds/fimBG.png');
    background-size: 70% 60vh;
    background-position: center;
}

.fim .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: black;
    font-size: 20px;
    border: white solid 8px;
    margin-top: 50px;
}

.fim .container h3 {
    margin-top: 0px;
}

.fim .container h1 {
    margin-bottom: 0px;
}


.fim .Bfim {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fim .RBfim {
    display: flex;
    flex-direction: column;
}

/* TERMINANDO O FIM */
/* --------TERMINANDO SOBRE.HTML----------- */























/* -------- INICIANDO CADASTRO.HTML ---------- */
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 950px;
    background-image: url('/assets/img/Backgrounds/cadastroBG.png');
    background-size: 2500px 1850px;
    background-position: center;
}


.formulario .container {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562);
    border: white solid 5px;
}

.formulario .container .inputs {
    width: 90%;
    height: 20px;
    margin: 0px 50px 0px 50px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    font-size: 22px;
    font-family: "Pixel Operator", pixelify sans, Arial, Helvetica, sans-serif;
}

.formulario .container button {
    margin: 20px;

}

.formulario .container h3 {
    width: 90%;
    font-size: 28px;
    margin-bottom: 5px;
}

.formulario .container h1 {
    font-size: 50px;
    margin: 20px;
}

.formulario .container img {
    width: 125px;
}



.card_erro {
    display: none;
    background-color: black;
    color: rgb(255, 51, 51);
    width: 350px;
    position: fixed;
    border: #ffffff 7px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 40px;
}


.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

/* -------- TERMINANDO CADASTRO/LOGIN.HTML ---------- */























/* --------- INICIANDO MINIGAMES.HTML ---------- */
.minigameMain {
    background-image: url("/assets/img/Backgrounds/minigameBG.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.minigameMain .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.l2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.minigameMain .content {
    border: 5px white solid;
    background-color: black;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    width: 400px;
}

.minigameMain img {
    width: 400px;
    height: 300PX;
    border-bottom: 2px white solid;
}

.minigameMain h1 {
    font-size: 90px;
    text-decoration: underline 3px;
    margin: 2px;
}

.minigameMain .content:hover {
    border: 5px yellow solid;
    cursor: pointer;
    color: #a1a1a1;
}

/*INICIANDO BAD TIME SIMULATOR*/
.bodyBadTime {
    background-image: url("/assets/img/Backgrounds/lastCorridor.png");
    background-size: 2200px 1300px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



iframe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 700px;
    border: 10px solid white;
    margin-bottom: 16.8vh;

}


/*TERMINANDO BAD TIME SIMULATOR*/

/*INICIANDO TESTE PERSONALIDADE*/
.bodyPersona {
    background-image: url(/assets/img/Backgrounds/vesselCreator.gif);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 130% 150vh;
}

.mainQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 800px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainQuiz button {
    margin: 20px;
    width: 400px;
    height: 80px;
}

.contentQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: white 3px solid;
    background-color: rgba(0, 0, 0, 0.366);
}

.contentQuiz img {
    width: 150px;
    height: 200px;
    margin: 5px;
    object-fit: cover;
}

.contentQuiz h1 {
    margin: 5px;
}

.contentQuiz h2 {
    margin: 0px;
}

.pergunta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#graficoPersona {
    size: 50px;
}

.grafico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    zoom: 140% !important;
}


.botaoBlockQuiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*TERMINANDO TESTE PERSONALIDADE*/

/*INICIANDO QUIZ MTTGAMESHOW*/

.contentQuiz2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: white 3px solid;
    background-color: rgba(0, 0, 0, 0.366);
}

.contentQuiz2 .grafico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 500px;
    zoom: 140% !important;
}

.contentQuiz2 h1 {
    margin: 5px;
}

.contentQuiz2 h2 {
    margin: 0px;
}

.confetti {
    display: block;
    position: absolute;
    width: 90%;

}

/*TERMINANDO MTTGAMESHOW*/

/*INICIANDO CORRIDA DE CARACOL*/
.bodyCorrida {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyCorrida h1 {
    margin: 0px;
    font-size: 80px;
    text-align: center;
}

.bodyCorrida #div_contagem {
    margin: 0px;
    font-size: 60px;
    text-align: center;
}

.bodyCorrida #div_resultado h2 {
    margin: 0px;
    font-size: 40px;
    text-align: center;
}

.bemVindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: white solid 5px;
    padding: 20px;
    width: 68%;
}

.bemVindo h1 {
    font-size: 35px;
}

.mainCorrida {
    background-image: url(/assets/img/corrida.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    height: 600px;
    border: white solid 5px;
}




.pista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 73%;
}

#caracol {
    filter: none;
    margin-right: 0%;
    margin-top: 23%;

}

#div_contagem {
    height: 99px;
}

.btnCorrida {
    margin: 20px;
    width: 400px;
    height: 80px;
    font-size: 50px;
}

.buttons-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-start button {
    width: 400px;
    margin: 5px;
}


.legendathPosicao {
    font-size: 50px;
    padding: 10px;
    height: 20px;
    color: rgb(252, 101, 101);
}

.legendathNome {
    font-size: 50px;
    width: 60%;
    padding: 10px;
    color: rgb(252, 101, 101);

}

.legendathCPS {
    font-size: 50px;
    padding: 10px;
    color: rgb(252, 101, 101);

}

.legendathData {
    font-size: 50px;
    width: 30%;
    padding: 10px;
    color: rgb(252, 101, 101);
}

.thPosicao {
    font-size: 50px;
}

.thNome {
    font-size: 30px;
}

.thCPS {
    font-size: 45px;
}

.thData {
    font-size: 30px;
}

table {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 500px;
    margin: 40px;
    overflow: scroll;
}

th {
    font-size: 25px;
    border: white 3px solid;
}

/*TERMINANDO CORRIDA DE CARACOL*/




/*INICIANDO PIANO*/







/*TERMINANDO PIANO*/
/* --------- TERMINANDO MINIGAMES.HTML ---------- */






/* --------- INICIANDO FÓRUM.HTML ------------*/
.bodyForum {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

}

.filtro-addPost {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20%;
    height: 90%;
    margin-top: 90px;
    border-right: white 3px solid;
    border-top: white 3px solid;
    padding: 10px;
    background-color: black;
    font-size: 15px;
    overflow: scroll;
}


.filtro-addPost h1 {
    margin: 2px;
}

.filtro-addPost p {
    margin: 30px;
    font-size: 50px;
    text-align: center;
}

hr {
    margin-bottom: 50px;
}

.filtro-addPost img {
    border: white solid 5px;
}

#tipoFiltro {
    font-size: 30px;
    font-family: 'Pixel Operator';
}

#tipoPostagem {
    font-size: 30px;
    font-family: 'Pixel Operator';
}

#ipt_imagem {
    font-size: 30px;
    font-family: 'Pixel Operator';
}

.filtro-addPost .container {
    width: 100%;
}

.publicacao span {
    font-size: 30px;
}

.publicacao b {
    font-size: 40px;
    color: rgb(255, 255, 100);
}

.publicacao-descricao {
    font-size: 40px;
    overflow-wrap: anywhere;
}




.publicacao-imgPerfil img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: white solid 5px;
    margin: 10px;
}

.publicacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    width: 100%;
    border: white solid 3px;
    padding: 5px;
}

.publicacao-tipo {
    text-transform: uppercase;
    font-size: 40px !important;
    border: white 2px solid;
    border-radius: 5px;
    padding: 5px;
}

.postagens {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 23%;
    margin-right: 50px;
    width: 100%;
}

.postagens span {
    font-size: 50px;
}

.postagens h1 {
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.div-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-buttons button {
    width: 150px;
    margin: 5px;
}

.FotoContent {
    display: flex;
    flex-direction: row;
}

.publicacao-img img {
    width: 800px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

.dadosPubli {
    display: flex;
    flex-direction: column;
}





/*edição de forum*/

.container-edicao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.container-edicao input {
    width: 600px;
    height: 35px;
    font-size: 30px;
    font-family: "Pixel Operator";
}


.container-edicao h1 {
    font-size: 70px;
}

.container-edicao textarea {
    width: 700px;
    height: 200px;
    font-size: 30px;
    font-family: "Pixel Operator";
}

.container-edicao .div-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-edicao .div-form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------- TERMINANDO FÓRUM.HTML ------------*/

/* --------- INICIANDO DASH/USUARIO ---------- */
.bodyUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99.5%;
}

.mainUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 100%;

}

.mainUser h1 {
    margin: 50px;
    font-size: 60px;
}

.dataUser {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 5px white solid;
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    margin: 15px;
}

.user img {
    width: 100%;
}

.user .fotoData {
    width: 300px;
    margin: 15px;
}

.user h1 {
    font-size: 50px;
    margin: 0px;
}

.user p {
    margin: 0px;
}


.usuarioInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashIndividual {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 10px;

}

.dashIndividual p {
    margin: 0px;
}


.dashQuiz {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 45vh;
    zoom: 140% !important;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 5px white solid;
    border-radius: 5px;
}









.dashPersona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    zoom: 140% !important;
    padding: 10px;

}

.resultPersona {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 7px white solid;
    border-radius: 5px;
    width: 49%;
    font-size: 50px;
    padding-right: 15px;
}

.divisoriaPersona {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.resultPersona p {
    width: 100%;
}

#personaImg img {
    width: 200px;
    object-fit: cover;
}

.dashMiniGames {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 45%;
    height: 340px;
    zoom: 140% !important;
    padding: 1px;
    border: 5px white solid;
    border-radius: 5px;
}


.dashCPS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    width: 89%;
    zoom: 140% !important;
    padding: 20px;
    border: 5px white solid;
    border-radius: 5px;
    margin: 10px;
}

.dashCPS p {
    margin: 0px;
    font-size: 30px;
}










/* --------- TERMINANDO DASH/USUARIO ---------- */